* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 60px 0;
}

header {
  background: #020617;
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

nav a:hover .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-img {
  width: 260px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(56, 189, 248, 0.3);
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #38bdf8;
  padding: 12px 26px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.08);
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.card {
  background: #020617;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.project img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sobre {
  display: flex;
  gap: 40px;
  align-items: center;
}

.sobre img {
  width: 240px;
  border-radius: 14px;
}

.social {
  text-align: center;
  font-size: 32px;
}

.social a {
  margin: 0 12px;
  color: white;
  transition: 0.3s;
}

.social a:hover footer {
  text-align: center;
  padding: 30px;
  background: #020617;
}

/* RESPONSIVO */

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .sobre {
    flex-direction: column;
    text-align: center;
  }
}
